<%
/**
 * @var {object} user
 */
%>

<% layout('layout') %>

<% appendStyles([
	'student/chat.css',
    'highlight/github-gist.css'
]) %>

<% appendScripts([
    ['lib/spreadcast/spreadcast.js', 'spreadcast'],
    'lib/htmlToText/htmlToText.js',
    ['lib/marked/marked.min.js', 'markdown'],
    ['lib/highlight/highlight.pack.js', 'highlight'],
    ['lib/moment/min/moment.min.js', 'moment'],
    'lib/faye/faye-browser-min.js',
    'lib/uuid/uuid.js',
    'student/chat/*/*.js',
    'student/chat/*.js'
]) %>

<%- renderTranslationsFor('student/chat') %>

<div class="chat-wrapper">
    <div id="toolbar" class="chat-toolbar">
        <div>
            <button data-start-camera class="btn btn-sm btn-primary hidden" type="button"><%= __('chat.start_camera') %></button>
            <button data-stop-camera class="btn btn-sm btn-primary hidden" type="button"><%= __('chat.stop_camera') %></button>
        </div>

        <div class="chat-title">
            <span data-title></span>
            <a data-video_url href="#" target="_blank"><%= __('chat.course_video') %></a>
        </div>

        <div class="chat-view-switcher">
            <div data-view="videos"><%= __('chat.videos') %></div>
            <div data-view="chat"><%= __('chat.chat') %></div>
            <div data-view="users"><%= __('chat.users') %></div>
        </div>

        <% if (user.hasRole('teacher')) { %>
        <div>
            <button data-disable-chat class="btn btn-sm btn-default" type="button"><%= __('chat.disable_chat') %></button>
            <button data-enable-chat class="btn btn-sm btn-primary" type="button" style="display: none;"><%= __('chat.enable_chat') %></button>
        </div>
        <% } %>

        <a href="/logout"><%= __('main.logout') %></a>
    </div>

    <div id="chat" class="chat-page">
        <div data-block="videos" class="videos">
            <div data-videos>
                <div class="video"></div>
            </div>
        </div>

        <div data-divider class="divider handle"><div></div></div>

        <div data-block="chat" class="chat">
            <div class="chat-messages-wrapper">
                <div data-messages-block>
                    <div class="chat-expander"></div>
                    <div data-messages class="chat-messages">
                        <div class="hidden">
                            <div data-user-info class="message-user">
                                <div data-user-name class="message-user-name">Name</div>
                                <div data-time class="message-time">10:00</div>
                            </div>
                            <div data-text class="message-text">text</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat-textarea">
                <div data-chat-disabled class="chat-textarea-overlay"><%= __('chat.disabled') %></div>
                <div data-textarea contenteditable="true" class="form-control"></div>
                <button data-add-message class="btn btn-sm btn-primary" type="button"><i class="fa fa-send"></i></button>
            </div>
        </div>

        <div data-block="users" data-users class="users" style="display: none;">
            <div class="hidden">
                <img data-photo src="" alt="Photo"/>
                <div data-name class="user-name"></div>
                <% if (user.hasRole('teacher')) { %>
                    <div>
                        <button data-enable-chat class="btn btn-xs btn-primary" type="button"><i class="fa fa-comment-o"></i></button>
                        <button data-disable-chat class="btn btn-xs btn-default" type="button"><i class="fa fa-comment-o"></i></button>
                        <button data-enable-video class="btn btn-xs btn-primary" type="button"><i class="fa fa-video-camera"></i></button>
                        <button data-disable-video class="btn btn-xs btn-default" type="button"><i class="fa fa-video-camera"></i></button>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>