<% layout('layout') %>

<% appendStyles([
	'student/chat.css',
    'highlight/github-gist.css'
]) %>

<% appendScripts([
    ['lib/spreadcast/spreadcast.js', 'spreadcast'],
    'lib/webrtc/webrtc.js',
    'lib/htmlToText/htmlToText.js',
    ['lib/marked/marked.min.js', 'markdown'],
    ['lib/highlight/highlight.pack.js', 'highlight'],
    ['lib/moment/min/moment.min.js', 'moment'],
    'lib/faye/faye-browser-min.js',
    'lib/uuid/uuid.js',
    'student/chat/*/*.js',
    'student/chat/*.js'
]) %>

<%- renderTranslationsFor('student/chat') %>

<div class="chat-wrapper">
    <div id="toolbar" class="chat-toolbar">
        <div>
            <button data-start-camera class="btn btn-sm btn-primary hidden" type="button"><%= __('chat.start_camera') %></button>
            <button data-start-screen class="btn btn-sm btn-primary hidden" type="button"><%= __('chat.start_screen') %></button>
        </div>

        <div data-title class="chat-title"></div>

        <div class="chat-view-switcher">
            <div data-view="videos"><%= __('chat.videos') %></div>
            <div data-view="chat"><%= __('chat.chat') %></div>
            <div data-view="users"><%= __('chat.users') %></div>
        </div>

        <a href="/logout"><%= __('main.logout') %></a>
    </div>

    <div id="chat" class="chat-page">
        <div data-block="videos" class="videos">
            <div data-videos>
                <div class="video">
                    <div class="video-toolbar top">
                        <button data-stop-video class="btn btn-xs btn-default" type="button"><%= __('chat.stop_video') %></button>
                    </div>
                    <div data-video></div>
                    <div class="video-toolbar bottom hidden">
                        <button data-full-screen class="btn btn-xs btn-default" type="button"><%= __('chat.full_screen') %></button>
                    </div>
                </div>
            </div>
        </div>

        <div data-divider class="divider handle"><div></div></div>

        <div data-block="chat" class="chat">
            <div class="chat-messages-wrapper">
                <div data-messages-block>
                    <div class="chat-expander"></div>
                    <div data-messages class="chat-messages">
                        <div>
                            <div data-user-info class="message-user">
                                <div data-user-name>Name</div>
                                <div data-time>10:00</div>
                            </div>
                            <div data-text class="message-text">text</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat-textarea">
                <div data-textarea contenteditable="true" class="form-control"></div>
                <button data-add-message class="btn btn-sm btn-primary" type="button"><i class="fa fa-send"></i></button>
            </div>
        </div>

        <div data-block="users" class="users">
            <div>
                <img data-photo src="" alt="Photo"/>
                <div data-name></div>
            </div>
        </div>
    </div>
</div>