<% layout('layout') %>

<% appendStyles([
	'student/courses.css'
]) %>

<% appendScripts([
    'student/courses/**/*.js'
]) %>

<%- renderTranslationsFor('student/courses') %>

<%- partial('components/header') %>

<div class="p">
    <table id="courses-list" class="courses table table-striped">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th><%= __('student.course') %></th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody data-list>
        <tr class="course hidden">
            <td>
                <i data-online class="fa fa-circle"></i>
                <i data-offline class="fa fa-circle-o"></i>
            </td>
            <td data-title></td>
            <td class="text-right">
                <a data-link href="/student/courses/:id/chat" class="btn btn-xs btn-default"><%= __('student.chat') %></a>
                <a data-link href="/student/courses/:id/homework" class="btn btn-xs btn-default"><%= __('student.homework') %></a>
                <a data-link href="/student/courses/:id/perquisition" class="btn btn-xs btn-default"><%= __('student.perquisition') %></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>