<% layout('layout') %>

<% appendStyles([
    'lib/questions/view/questions.css',
    'highlight/github-gist.css'
]) %>

<% appendScripts([
    ['lib/markdown-it/dist/markdown-it.min.js', 'markdown-it'],
    ['lib/highlight/highlight.pack.js', 'highlight'],
    'lib/markdown/markdown.js',
    ['lib/velocity/velocity.min.js', 'velocity'],
    ['lib/moment/min/moment.min.js', 'moment'],
    'lib/detachHTML/detachHTML.js',
    'lib/steps/steps.js',
    'lib/dateFormat/dateFormat.js',
    'views/form.js',
    'student/tests/**/*.js'
]) %>

<%- renderTranslationsFor('student/tests') %>

<%- partial('student/header') %>

<div class="steps">
    <div id="tests" class="step active p-lg">
        <table class="table">
            <thead>
            <tr>
                <th><%= __('main.title') %></th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody data-list>
            <tr class="hidden">
                <td>
                    <div data-title class="fixed-height-title"></div>
                </td>
                <td class="text-right">
                    <button data-start-test class="btn btn-xs btn-default" type="button">
                        <span data-state-title="not-tested"><%= __('student.start_test') %></span>
                        <span data-state-title="testing"><%= __('student.testing') %></span>
                        <span data-state-title="tested"><%= __('student.tested') %></span>
                        <span data-timeout></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="test-form" class="step p-lg">
        <div data-title></div>

        <div data-questions class="questions">
            <div id="row" class="question-row"></div>

            <div id="section" class="question-section"></div>

            <div id="choice" class="question-choice">
                <div data-title class="question-title"></div>
                <div data-options class="options">
                    <div>
                        <div class="option-checkbox"><input data-is_answer type="checkbox"/></div>
                        <div data-text></div>
                        <div data-description></div>
                    </div>
                </div>
            </div>
        </div>

        <%- partial('components/submit') %>
        <button data-cancel type="button" class="btn btn-default"><%= __('student.back_to_tests') %></button>
    </div>
</div>