<% layout('layout') %>

<% appendScripts([
	'lib/bootstrap/modal.js',
	'views/form.js',
	'views/modal-form.js',
	'views/filter-form.js',
	'views/paginator.js',
	'views/autocompleter.js',
    'teacher/courses/**/*.js'
]) %>

<%- renderTranslationsFor('teacher/courses') %>

<%- partial('teacher/header') %>

<div class="p">
    <form id="filter-form" class="box p m-b form-inline">
        <input type="hidden" name="offset" value="0"/>
        <input type="hidden" name="limit" value="10"/>

        <div class="form-group">
            <label><%= __('title') %>:</label>
            <input type="text" name="title" class="form-control" autocomplete="off"/>
        </div>

        <button data-submit type="submit" class="btn btn-primary m-t">
            <span class="submit-default"><%= __('filter') %></span>
            <span class="submit-error"><%= __('error') %></span>
            <i class="submit-loading fa fa-circle-o-notch fa-spin"></i>
        </button>
    </form>

    <div id="toolbar" class="m-b">
        <button data-add_course class="btn btn-success"><%= __('add') %></button>
    </div>

    <table id="courses-list" class="table table-striped">
        <thead>
        <tr>
            <th><%= __('title') %></th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody data-list>
        <tr>
            <td data-title></td>
            <td class="text-right">
                <div class="btn-group">
                    <button class="btn btn-xs btn-default" type="button" data-toggle="dropdown"><%= __('main.actions') %> <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li data-edit><a href="#"><%= __('main.edit') %></a></li>
                        <li><a data-link href="/student/courses/:id/chat"><%= __('course.chat') %></a></li>
                        <li><a data-link href="/teacher/courses/:id/homework"><%= __('course.homework') %></a></li>
                        <li><a data-link href="/teacher/courses/:id/questions"><%= __('course.edit_questions') %></a></li>
                        <li><a data-link href="/teacher/courses/:id/tests"><%= __('course.tests') %></a></li>
                        <li><a data-link href="/teacher/courses/:id/reports"><%= __('course.reports') %></a></li>
                        <li class="divider"></li>
                        <li><a data-delete href="#"><%= __('main.delete') %></a></li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <ul id="paginator" class="pagination">
        <li><a data-page-number href="#"></a></li>
    </ul>
</div>

<div id="course-form" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><%= __('course.course') %></h4>
            </div>
            <form class="modal-body">
                <div class="form-group">
                    <label><%= __('course.title') %></label>
                    <input name="title" type="text" class="form-control"/>

                    <p data-course_title_required class="error help-block text-danger">
                        <%= __('required') %>
                    </p>
                </div>

                <div class="form-group">
                    <label><%= __('course.video_url') %></label>
                    <input name="video_url" type="text" class="form-control"/>
                </div>

                <div data-users class="form-group">
                    <label><%= __('course.users_permissions') %></label>
                    <table class="table">
                        <thead>
                        <tr>
                            <th><%= __('name') %></th>
                            <th><%= __('read_permission') %></th>
                            <th><%= __('write_remove_permission') %></th>
                            <th><%= __('pass_permission') %></th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody data-list>
                        <tr>
                            <td>
                                <span data-user_name></span>
                                <input data-user_name_input type="text" class="form-control input-sm" autocomplete="off"/>

                                <div data-user_required class="help-block text-danger error">
                                    <%= __('required') %>
                                </div>

                                <div data-user_autocompleter class="autocompleter">
                                    <div data-dropdown class="autocompleter-dropdown">
                                        <div data-empty class="well well-sm text-center text-muted">
                                            <strong><%= __('empty_list') %></strong>
                                        </div>
                                        <div data-list class="list-group">
                                            <a href="#" class="list-group-item"></a>
                                        </div>
                                        <ul data-paginator class="pagination">
                                            <li><a data-page-number href="#"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <input data-permission="read" type="checkbox"/>
                            </td>
                            <td class="text-center">
                                <input data-permission="write" type="checkbox"/>
                            </td>
                            <td class="text-center">
                                <input data-permission="pass" type="checkbox"/>
                            </td>
                            <td>
                                <button data-remove_user type="button" class="btn btn-default btn-xs"><%= __('delete') %></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <button data-add_user type="button" class="btn btn-success btn-sm"><%= __('add') %></button>
                </div>

                <div data-teams class="form-group">
                    <label><%= __('teams_permissions') %></label>
                    <table class="table">
                        <thead>
                        <tr>
                            <th><%= __('name') %></th>
                            <th><%= __('read_permission') %></th>
                            <th><%= __('write_remove_permission') %></th>
                            <th><%= __('pass_permission') %></th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody data-list>
                        <tr>
                            <td>
                                <span data-team_name></span>
                                <input data-team_name_input type="text" class="form-control input-sm" autocomplete="off"/>

                                <div data-team_required class="help-block text-danger error">
                                    <%= __('required') %>
                                </div>

                                <div data-team_autocompleter class="autocompleter">
                                    <div data-dropdown class="autocompleter-dropdown">
                                        <div data-empty class="well well-sm text-center text-muted">
                                            <strong><%= __('empty_list') %></strong>
                                        </div>
                                        <div data-list class="list-group">
                                            <a href="#" class="list-group-item"></a>
                                        </div>
                                        <ul data-paginator class="pagination">
                                            <li><a data-page-number href="#"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <input data-permission="read" type="checkbox"/>
                            </td>
                            <td class="text-center">
                                <input data-permission="write" type="checkbox"/>
                            </td>
                            <td class="text-center">
                                <input data-permission="pass" type="checkbox"/>
                            </td>
                            <td>
                                <button data-remove_team type="button" class="btn btn-default btn-xs"><%= __('delete') %></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <button data-add_team type="button" class="btn btn-success btn-sm"><%= __('add') %></button>
                </div>

                <button data-submit type="submit" class="btn btn-primary">
                    <span class="submit-default"><%= __('save') %></span>
                    <span class="submit-error"><%= __('error') %></span>
                    <i class="submit-loading fa fa-circle-o-notch fa-spin"></i>
                </button>
                <button data-cancel type="button" class="btn btn-default"><%= __('cancel') %></button>
            </form>
        </div>
    </div>
</div>