<% layout('layout') %>

<% appendStyles([
    'teacher/index.css'
]) %>

<% appendScripts([
	'lib/bootstrap/transition.js',
	'lib/bootstrap/dropdown.js',
	'lib/bootstrap/modal.js',
	'views/form.js',
	'views/modal-form.js',
	'views/paginator.js',
	'views/autocompleter.js',
    'teacher/courses/**/*.js'
]) %>

<%- renderTranslationsFor('teacher/courses') %>

<div id="courses-list" class="courses">
    <div data-list class="courses-list list-group">
        <div class="course list-group-item">
            <div data-title class="course-title"></div>
            <div class="course-toolbar">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        <%= __('actions') %> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li data-edit data-write><a href="#"><%= __('edit_course') %></a></li>
                        <li data-edit_questions data-write><a data-link href="/teacher/course/:id/questions"><%= __('edit_questions') %></a></li>
                        <li data-reports><a data-link href="/teacher/course/:id/reports"><%= __('reports') %></a></li>
                        <li data-write class="divider"></li>
                        <li data-remove data-write><a href="#"><%= __('delete') %></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <button data-add-course class="btn btn-success"><%= __('add_course') %></button>
</div>

<div id="course-form" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><%= __('add_course') %></h4>
            </div>
            <form class="modal-body">
                <div class="form-group">
                    <label><%= __('course_title') %></label>
                    <input name="title" type="text" class="form-control"/>
                </div>

                <div class="form-group">
                    <label><%= __('course_user_permissions') %></label>
                    <table class="table">
                        <thead>
                        <tr>
                            <th><%= __('user_name') %></th>
                            <th><%= __('read_permission') %></th>
                            <th><%= __('write_remove_permission') %></th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody data-users_permissions>
                        <tr>
                            <td>
                                <span data-user_name></span>
                                <input data-user_name_input type="text" class="form-control input-sm"/>

                                <div data-user_name_autocompleter class="autocompleter">
                                    <div class="autocompleter-dropdown">
                                        <div data-list class="list-group">
                                            <a href="#" class="list-group-item"></a>
                                        </div>
                                        <ul data-paginator class="pagination">
                                            <li><a data-page-number href="#"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <input data-permission="read" type="checkbox"/>
                            </td>
                            <td class="text-center">
                                <input data-permission="write" type="checkbox"/>
                            </td>
                            <td>
                                <button data-remove_permission type="button" class="btn btn-default btn-xs"><%= __('remove_permission') %></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <button data-add_permission type="button" class="btn btn-success btn-sm"><%= __('add_permission') %></button>
                </div>

                <button data-submit type="submit" class="btn btn-primary"><span><%= __('save') %></span><i class="fa fa-circle-o-notch fa-spin"></i></button>
                <button data-cancel type="button" class="btn btn-default"><%= __('cancel') %></button>
            </form>
        </div>
    </div>
</div>