<% layout('layout') %>

<% appendStyles([
    'highlight/github-gist.css'
]) %>

<% appendScripts([
    ['lib/marked/marked.min.js', 'markdown'],
    ['lib/highlight/highlight.pack.js', 'highlight'],
    ['lib/velocity/velocity.min.js', 'velocity'],
    'lib/steps/steps.js',
    'lib/clone/clone.js',
    'lib/htmlToText/htmlToText.js',
    'views/form.js',
    'teacher/homework/**/*.js'
]) %>

<%- renderTranslationsFor('teacher/homework') %>

<%- partial('teacher/header') %>

<div class="steps">
    <div id="homeworks" class="step active p-lg">
        <table class="table">
            <thead>
            <tr>
                <th width="15">&nbsp;</th>
                <th><%= __('main.title') %></th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody data-list>
            <tr class="hidden">
                <td>
                    <i data-is_public="false" class="fa fa-lock"></i>
                    <a data-is_public="true" href="#"><i class="fa fa-unlock-alt"></i></a>
                </td>
                <td data-title class="markdown"></td>
                <td class="text-right">
                    <button data-edit class="btn btn-xs btn-default" type="button"><%= __('main.edit') %></button>
                    <button data-delete class="btn btn-xs btn-default" type="button"><%= __('main.delete') %></button>
                </td>
            </tr>
            </tbody>
        </table>

        <button data-add-homework class="btn btn-success" type="button"><%= __('main.add') %></button>
    </div>

    <form id="homework-form" class="step p-lg">
        <div class="form-group">
            <label><%= __('main.title') %></label>
            <div data-title class="form-control" contenteditable="true"></div>
        </div>

        <div class="form-group">
            <label><%= __('course.public') %></label>
            <label class="switch">
                <input name="is_public" class="switch-input" type="checkbox" checked/>
                <span class="switch-body">&nbsp;</span>
                <span class="switch-handle"></span>
            </label>
        </div>

        <div class="form-group">
            <label><%= __('course.homework_description') %></label>
            <div data-description class="form-control" contenteditable="true" style="min-height: 100px; max-height: 400px;"></div>
        </div>

        <%- partial('components/submit') %>
        <%- partial('components/cancel') %>
    </form>
</div>