<% layout('layout') %>

<% appendScripts([
    'lib/bootstrap/transition.js',
    'lib/bootstrap/modal.js',
    'views/form.js',
    'views/modal-form.js',
    'views/paginator.js',
    'views/autocompleter.js',
    'admin/users/**/*.js'
]) %>

<%- renderTranslationsFor('admin/users') %>

<%- partial('admin/header') %>

<div id="users" class="p">
    <form id="filter-form" class="box p m-b form-inline" data-form-state>
        <input type="hidden" name="offset" value="0"/>
        <input type="hidden" name="limit" value="10"/>

        <div class="form-group">
            <label><%= __('name') %>:</label>
            <input type="text" name="name_or_username" class="form-control" autocomplete="off"/>
        </div>

        <div class="form-group">
            <label><%= __('role') %>:</label>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="roles[]" value="admin"/>
                    <%= __('admin') %>
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="roles[]" value="teacher"/>
                    <%= __('teacher') %>
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="roles[]" value="student"/>
                    <%= __('student') %>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label><%= __('team') %>:</label>
            <input type="hidden" name="team_id" autocomplete="off"/>
            <input type="text" data-team class="form-control" autocomplete="off"/>

            <div data-team_name_autocompleter class="autocompleter" style="display: none;">
                <div data-dropdown class="autocompleter-dropdown">
                    <div data-empty class="well well-sm text-center text-muted">
                        <strong><%= __('empty_list') %></strong>
                    </div>
                    <div data-list class="list-group">
                        <a href="#" class="list-group-item"></a>
                    </div>
                    <ul data-paginator class="pagination">
                        <li><a data-page-number href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>&nbsp;</label>
            <button data-submit type="submit" class="btn btn-primary">
                <span class="submit-default"><%= __('filter') %></span>
                <span class="submit-error"><%= __('error') %></span>
                <i class="submit-loading fa fa-circle-o-notch fa-spin"></i>
            </button>
        </div>
    </form>

    <div id="users-toolbar" class="m-b">
        <button data-add_user class="btn btn-success"><%= __('add') %></button>
    </div>

    <table id="users-list" class="table table-striped">
        <thead>
        <tr>
            <th width="40">&nbsp;</th>
            <th>&nbsp;</th>
            <th><%= __('name') %></th>
            <th><%= __('username') %></th>
            <th><%= __('role') %></th>
            <th><%= __('teams') %></th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody data-list>
        <tr class="hidden">
            <td><img data-photo src="" width="40"/></td>
            <td><i data-not-verified title="Not verified" class="fa fa-exclamation-triangle text-warning"></i></td>
            <td data-name></td>
            <td data-username></td>
            <td>
                <span data-role="admin" class="label label-primary"><%= __('admin') %></span>
                <span data-role="teacher" class="label label-primary"><%= __('teacher') %></span>
                <span data-role="student" class="label label-primary"><%= __('student') %></span>
            </td>
            <td data-teams>
                <div><a data-name href="#"></a></div>
            </td>
            <td class="text-right">
                <button data-edit class="btn btn-xs btn-default"><%= __('edit') %></button>
                <button data-delete class="btn btn-xs btn-default"><%= __('delete') %></button>
            </td>
        </tr>
        </tbody>
    </table>

    <ul id="paginator" class="pagination">
        <li><a data-page-number href="#"></a></li>
    </ul>
</div>

<div id="user-form" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><%= __('user') %></h4>
            </div>
            <form class="modal-body">
                <div class="form-group">
                    <label><%= __('name') %></label>
                    <input name="name" type="text" class="form-control" autocomplete="off"/>

                    <p data-name_required class="error help-block text-danger">
                        <%= __('required') %>
                    </p>
                </div>

                <div class="form-group">
                    <label><%= __('username') %></label>
                    <input name="username" type="text" class="form-control" autocomplete="off"/>

                    <p data-username_required class="error help-block text-danger">
                        <%= __('required') %>
                    </p>
                </div>

                <div class="form-group">
                    <label><%= __('password') %></label>
                    <input data-password type="password" class="form-control" autocomplete="off"/>

                    <p data-password_required class="error help-block text-danger">
                        <%= __('required') %>
                    </p>
                </div>
                <div class="form-group">
                    <label><%= __('confirm_password') %></label>
                    <input data-confirm_password type="password" class="form-control" autocomplete="off"/>

                    <p data-password_not_equal class="error help-block text-danger">
                        <%= __('password_not_equal') %>
                    </p>
                </div>

                <div class="form-group">
                    <label><%= __('roles') %></label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="roles[]" value="admin" autocomplete="off"/>
                            <%= __('admin') %>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="roles[]" value="teacher" autocomplete="off"/>
                            <%= __('teacher') %>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="roles[]" value="student" autocomplete="off"/>
                            <%= __('student') %>
                        </label>
                    </div>

                    <p data-roles_required class="error help-block text-danger">
                        <%= __('required') %>
                    </p>
                </div>

                <div data-teachers_teams class="form-group">
                    <label><%= __('teachers_teams') %></label>
                    <div data-list>
                        <div class="toolbared m-b-sm">
                            <div class="m-r-sm">
                                <span data-team_name></span>
                                <input data-team_name_input type="text" class="form-control input-sm"/>

                                <div data-team_name_autocompleter class="autocompleter">
                                    <div data-dropdown class="autocompleter-dropdown">
                                        <div data-empty class="well well-sm text-center text-muted">
                                            <strong><%= __('empty_list') %></strong>
                                        </div>
                                        <div data-list class="list-group">
                                            <a href="#" class="list-group-item"></a>
                                        </div>
                                        <ul data-paginator class="pagination">
                                            <li><a data-page-number href="#"></a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div data-team_name_required class="help-block text-danger error">
                                    <%= __('required') %>
                                </div>
                            </div>
                            <div>
                                <button data-remove_team type="button" class="btn btn-default btn-xs"><%= __('delete') %></button>
                            </div>
                        </div>
                    </div>

                    <button data-add_team type="button" class="btn btn-sm btn-success"><%= __('add') %></button>
                </div>

                <div data-students_teams class="form-group">
                    <label><%= __('students_teams') %></label>
                    <div data-list>
                        <div class="toolbared m-b-sm">
                            <div class="m-r-sm">
                                <span data-team_name></span>
                                <input data-team_name_input type="text" class="form-control input-sm"/>

                                <div data-team_name_required class="help-block text-danger error">
                                    <%= __('required') %>
                                </div>
                            </div>
                            <div>
                                <button data-remove_team type="button" class="btn btn-default btn-xs"><%= __('delete') %></button>
                            </div>
                        </div>
                    </div>

                    <button data-add_team type="button" class="btn btn-sm btn-success"><%= __('add') %></button>
                </div>

                <%- partial('components/submit') %>
                <%- partial('components/cancel') %>
            </form>
        </div>
    </div>
</div>