<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= __(title || 'main.appName') %></title>

    <% prependStyles([
        'lib/font-awesome/css/font-awesome.css',
        'lib/bootstrap/bootstrap.min.css',
        'lib/bootstrap/bootstrap.min.css',
        '/js/lib/noty/lib/noty.css',
        'main.css'
    ]) %>
    <%- renderStyles() %>
</head>
<body>

<%- body %>

<% prependScripts([
    'lib/define-module-name/define-module-name.min.js',
    ['lib/jquery/dist/jquery.min.js', 'jquery'],
    ['lib/declarative-view/declarative-view.js', 'view'],
    'lib/bootstrap/dropdown.js',
    'lib/bootstrap/transition.js',
    'lib/utils/utils.js',
    'lib/promise/promise.js',
    'lib/sprintf/sprintf.js',
    ['lib/noty/lib/noty.js', 'noty'],
    'lib/notify/notify.js',
    'lib/ajax/ajax.js',
    'lib/lang/lang.js',
    'lib/store/store.js',
    'lib/serverData/serverData.js'
]) %>

<% if (IS_DEV) appendScripts([
    'lib/style-watcher/style-watcher.js'
]) %>

<%- renderServerData() %>

<%- renderScripts() %>

</body>
</html>